@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background-color: rgb(74, 86, 248);
}

section {
  background-color: rgb(245, 245, 250);
  width: 20em;
  font-size: 1rem;
  border-radius: 1.5em;
  /* height: 15em; */
}

.content {
  width: 100%;
  font-size: 1rem;
  margin: 2em 2em;
  padding: 2em 2em;
}

h2 {
  color: rgb(163, 164, 172);
}

p {
  font-weight: bold;
}

.btn {
  text-align: center;
  border: 0;
  color: white;
  background-color: rgb(206, 52, 206);
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 0.8em;
  padding: 1em 1.2em;
  /* margin: 0.8em 1.2em; */
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}
