@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: #2a3a72;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user-form {
	width: 100%;
	max-width: 700px;
}

.user-form input {
	font-size: 1rem;
	width: 100%;
	background-color: rgb(165, 61, 226);
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 0px 5px 10px #000000;
	display: block;
	color: #fff;
	font-family: inherit;
}

.user-form input::placeholder {
	color: #bbb;
}

.user-form input:focus {
	outline: 0;
}

.card {
	max-width: 800px;

	background-color: rgb(165, 61, 226);
	display: flex;
	padding: 2rem;
}

.avatar {
	width: 150px;
	height: 150px;
	border: 5px solid rgb(110, 36, 207);
	border-radius: 50%;
}

.user-info {
	margin-left: 1rem;
}

.user-info ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style-type: none;
	max-width: 400px;
}

.user-info ul li {
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
}

.user-info ul li strong {
	margin-left: 0.5rem;
}

.repo {
	background-color: rgb(59, 24, 184);
	color: #fff;
	text-decoration: none;
	margin-right: .5rem;
	margin-bottom: 1rem;
	display: inline-block;
	padding: 0.3rem;
}

@media (max-width: 500px) {
	.card {
		flex-direction: column;
		align-items: center;
	}

	.user-form {
		max-width: 400px;
	}
}
